@use "./partials/colors";
@use "./partials/fonts";

//Size placement and margin of the box containing the content on the site.
#root{
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

body{
    background-color: colors.$gainsboro;
    place-items: baseline;
}

//Default fontsize, backgroun color and fontfamily for the main part of the site.
main{
    font-size: 21px;
    background-color: colors.$white;
    font-family: fonts.$default;
}